<ion-header>
  <ion-toolbar>
    <ion-title>create-employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="full">
		<form [formGroup]="employeeForm"  (ngSubmit)="formSubmit()">
			<ion-item>
				<ion-label postion="floating">Name</ion-label>
				<ion-input formControlName="name" type="text" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label postion="floating">Email</ion-label>
				<ion-input formControlName="email" type="email" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label postion="floating">Mobile</ion-label>
				<ion-input formControlName="mobile" type="text" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label postion="floating">Details</ion-label>
				<ion-textarea formControlName="details" type="text" required></ion-textarea>
			</ion-item>

			<ion-row>
				<ion-col>
					<ion-button type="submit" color="primary" shape="full" expand="block">
						Create
					</ion-button>
				</ion-col>
			</ion-row>

		</form>
	
	</ion-list>


</ion-content>
